@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-color: rgba(2,11,35,255);
         display: flex;
         justify-content: @(isSettingsPage ? "center" : "flex-start");
         align-items: @(isSettingsPage ? "center" : "flex-start");
         height: 100vh;">
        @Body
    </main>

</div>

@code {
    private bool isSettingsPage => NavigationManager.Uri.Contains("settings");

    [Inject]
    public NavigationManager NavigationManager { get; set; }
}